@import '../../style/stylesheets/site'

.card
  width 100%
  display block
  position absolute
  z-index card-layer


  &.loading
    transform translateX(-100%)

  &.active
    transform translateX(0)
    transition transform 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000)
