:host header
  display flex
  justify-content space-between
  padding-bottom 0.6rem

a
  font-size 1.2rem
  color #333
  text-transform uppercase


.panel
  justify-content flex-end
  padding 2rem
  margin -2rem

  &:hover
    a
      opacity 1
      transition opacity 200ms ease-in

  a
    display inline-block
    opacity 0.4

    &:hover
      cursor pointer

      i
        color #00b0ff
        transition color 300ms ease-in

    i
      vertical-align middle

.account
  margin-right 1rem

  i
    font-size 2rem

.settings i
  font-size 1.6rem
