:host
  position relative
  display inline-block

  &.active
    &.slide-down
      .hints
        top 100%
        transition top 50ms ease-out

    &.slide-up
      .hints
        top -1.1em
        transition top 50ms ease-out

  &.slide-down
    .hints
      top 0
      transition top 50ms ease-in

  &.slide-up
    .hints
      top 0
      transition bottom 50ms ease-in

.spacer
  visibility hidden
  display inline-block

.hints
  position absolute
  top 0
  left 0

.form-container
  display inline

input
  position absolute
  top 0
  left 0
  width 2000px
  padding 0
  border 0
  background transparent

  &:focus
    outline 0
